# комментарий – это игнорируется
*.[oa]	# пропускать файлы, заканчивающиеся на .a или .o
!lib.a	# но отслеживать файлы lib.a, несмотря на пропуск файлов на .a
*~ 		# пропускать файлы, заканчивающиеся на ~
*.pro.user
*.pro.user*	# пропускать файлы, заканчивающиеся на .user
*.tmp	# пропускать файлы, заканчивающиеся на .tmp
*.log	# пропускать файлы, заканчивающиеся на .log
/realNumbers